.element-container {
    display: flex;
    flex-direction: column;
  }
  
  .element {
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  .element-container div:nth-child(2){ 
    margin-bottom: 50px;
  }
  
  @media (max-width: 768px) {
    .element {
      width: 100%;
    }
  }

  /* Container for the Card and the Image */

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    align-items: center;
  }
  @media (max-width: 480px) {
    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      align-items: center;
      grid-template-columns: 1fr;
    }
  }
  
  .box {
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    margin: 66px;
  }  

  body > div > div.box.element-container > div.element.title-container{
    background-color: #F9F4F3;
  }
  .card {

  }